<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<%= @game.current_player.name %>'s turn

<a href='/attack_and_conf'>Attack</a>
<a href='/heal_and_conf'>Heal</a>
