<!-- <%= @player_1_name %> vs. <%= @player_2_name %>
<%= @player_2_name %> :100 HP -->

<%= @game.player_1.name %> vs. <%= @game.player_2.name %>

<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP

<a href='/attack_and_conf'>Attack</a>
